body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ol,
ul {
  list-style: none;
}

img {
  border-radius: 30px;

  margin: 15px;
}

.hlink {
  color: aliceblue;
  text-decoration: none;

}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(119, 198, 222);
  align-items: center;
  padding: 10px 100px;
}

.header-text {
  color: aliceblue;
  font-weight: 700;
}

.header-links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 30px;
  padding-right: 30px;
  background-color: azure;
  flex: 1;
}

.name {
  margin-top: 20px;
  margin-bottom: 5px;
}

.description,
.info {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
}

.education {
  margin-top: 30px;
  margin-bottom: 30px;
}

.location {
  font-size: larger;
  font-weight: 500;
  margin-bottom: 5px;
}

.years {
  margin-top: 5px;
  margin-bottom: 5px;
  color: blueviolet;
}

.job-description {
  margin-top: 5px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.about-me {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

.sidebar-titles {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
}

.recommendations-and-awards {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 15px;
}

.rec-and-award-link {
  color: black;
  text-decoration: underline
}

.footer {
  padding: 15px;
  background-color: #d0f5ef;
  display: flex;
  justify-content: center;
  align-items: center;
}